/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.clip-lip-shape {
  clip-path: polygon(
    50% 0%, 61% 15%, 75% 15%, 85% 25%, 85% 50%, 
    75% 75%, 50% 100%, 25% 75%, 15% 50%, 15% 25%, 
    25% 15%, 39% 15%
  );
  transition: transform 0.2s;
}

.clip-lip-shape:hover {
  transform: scale(1.1);
}

